<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Friends</title>
	<meta name="description" content="CONTENT" >
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> -->
    <!-- <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    	
    <!-- <script src="main.js"></script> -->
</head>

<body>
<h1>Edit User</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
    <form action='/update/{{edit}}', method='post'>
      First Name: <p><input type='text' name='first_name'></p>
      Last Name: <p><input type='text' name='last_name'></p>
      Email: <p><input type='text' name='email'></p>
      <input type='submit' value='Update'>
    </form>
      <form action='/show/{{edit}}'>
          <input type='submit' value='Show'>
      </form>
      <form action='/goback'>
          <input type='submit' value='Go Back'>
      </form>
</body>
</html>