<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Counter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <h1>Counter </h1>
    <p> <%= count %> times</p>
    <form action='/add' method='post'>
        <input type='submit' value='+2'>
    </form>
    <form action='/reset' method='post'>
        <input type='submit' value='Reset'>
    </form>
</body>
</html>