<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>TITLE</title>
	<meta name="description" content="CONTENT" >
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> -->
    <!-- <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    	
    <!-- <script src="main.js"></script> -->
</head>

<body>
	<!-- <p>{{name}}</p> -->
	<form action='/process' method='post'>
	    Your Name: <input type='text' name='name'>
	    Dojo Location:
	    <select name="location">
	      <option value="sanjose">San Jose</option>
	      <option value="seattle">Seattle</option>
	      <option value="la">LA</option>
	      <option value="dallas">Dallas</option>
	      <option value="dc">DC</option>
	      <option value="chicago">Chicago</option>
	      <option value="tulsa">Tulsa</option>
	    </select>
	    Favorite Language:
	    <select name="language">
	      <option value="html">HTML</option>
	      <option value="css">CSS</option>
	      <option value="javascript">Javascript</option>
	      <option value="python">Python</option>
	    </select>
	    Comment (optional):
	    <textarea name="description"></textarea>
	    <input type='submit' value='Button'>
	</form>
</body>
</html>