<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>TITLE</title>
	<meta name="description" content="CONTENT" >
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> -->
    <!-- <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    	
    <!-- <script src="main.js"></script> -->
</head>

<body>
	<h1>Login:</h1>
	<form action='/login' method='post'>
	    Email: <input type='text' name='email'>
	    Password: <input type='text' name='password'>
	    <input type='submit' value='Login'>
	</form>
	<h1>Register:</h1>
	<form action='/register' method='post'>
	    First Name: <input type='text' name='first_name'>
	    Last Name: <input type='text' name='last_name'>
	    Email: <input type='text' name='email'>
	    Password: <input type='text' name='password'>
	    ConfirmPassword: <input type='text' name='cpassword'>
	    <input type='submit' value='Register'>
	</form>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
</body>
</html>