<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Group Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                var username = prompt("what is your name?");
                var socket = io.connect();
                var name;

                if (username) {
                    $("#header").show();
                    name = username
                    console.log("name:" + name)
                    socket.emit("new_user", {
                        name: name
                    });
                    
                    $('#forms').submit(function () {
                        socket.emit("createmessage", {
                            message: $("#message").val(),
                            name: name
                        });
                        $("#input").val("")
                        return false
                    });

                    socket.on('updated_message', function (data) {
                        $("#messages").append("<p>" + data.name + ": " + data.message + "</p>");
                    });
                }
                else if (username == "") {
                    alert("YOU MUST ENTER A NAME! THIS WEBPAGE WILL RELOAD AFTER YOUR PRESS 'OK'");
                    location.reload();
                }

            });
    </script>
</head>
<body>
<div id="header" hidden>
    <form id="forms">
        <h1>Conversation Board</h1>
        <div id="messages">
            <% for (var x in key) { %>
                <p><%= key[x].name %>:<%= key[x].message %></p>
            <% } %>
        </div>

        <input id='message' type='text' name='message'>
        <button id="sendbutton">Send</button>
    </form>
</div>
</body>
</html>