<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>TITLE</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!-- <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    	
    <!-- <script src="main.js"></script> -->
</head>

<body>
	<div class = "header">
		<h1 class = "title">CodingDojo Wall</h1>
		<form class="logbutton" action='/loginregistration'>
	    	<input type='submit' value='Login/Register'>
		</form>
	</div>
	<hr>
</body>
</html>