<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Success</title>
	<meta name="description" content="CONTENT" >
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> -->
    <!-- <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    	
    <!-- <script src="main.js"></script> -->
</head>

<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	{{data}}
<h1>Email Addresses Entered:</h1>
  <table>
      <thead>
          <tr>
              <th>EMAIL</th>
              <th>DATE</th>
              <!-- <th></th> -->
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for emails in data: %}
        <tr>
              <td>{{ emails['email'] }}</td>
              <td>{{ emails['created_at'].month }}/{{ emails['created_at'].day }}/{{ emails['created_at'].year }}</td>
              <!-- <td>{{ emails['id'] }}</td> -->
              <td>
                  <form action='/success/{{emails['id']}}' method='POST'>
                    <input type="submit" value="Remove Email">
                  </form>
              </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</body>
</html>