<button [routerLink]="['/home']"> Home </button>
<button (click)="addQuote(author)"> Add a quote </button>
<h4>Quotes by {{ author.name }}:</h4>

<table>
  <tr>
    <th>Quote</th>
    <th>Votes</th>
    <th>Actions available</th>
  </tr>
  <tr *ngFor="let quote of author.quotes">
    <td> {{ quote.quote }} </td>
    <td> {{ quote.votes }}</td>
    <td>
      <button (click)="voteUp(quote)"> Vote up </button>
      <button (click)="voteDown(quote)"> Vote down </button>
      <button (click)="deleteQuote(quote)"> Delete </button>
    </td>
  </tr>
</table>