<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Show Sheep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <h1>Here is sheep with id: <%= sheep.id %>!</h1>
    Name: <%= sheep.name %>
    <form action='/cancel' method='get'>
        <input type='submit' value='Back'>
    </form>
</body>

</html>