<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>TITLE</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    	
    <script src="main.js"></script>
</head>

<body style="background-color: rgb({{r}},{{g}},{{b}});">
	<h1>Enter your color values below:</h1>
	<form action='/process' method='post'>
	    Red: <input type='text' name='red'>
	    Green: <input type='text' name='green'>
	    Blue: <input type='text' name='blue'>
	    <p>* All values must be between 1 and 255</p>
	    <input type='submit' value='Show my color!'>
	</form>
</body>
</html>