<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>TITLE</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'course/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- <link rel="stylesheet" href="{% static 'course/javascript/main.js' %}" media="screen" title="no title"  charset="utf-8"> -->
</head>

<body>
	<h1>Add a new course</h1>
    <form action='/create', method='post'>
      {% csrf_token %}
      Name: <p><input type='text' name='course_name'></p>
      Description: <p><textarea type='text' name='desc'></textarea></p>
      <input type='submit' value='Add'>
    </form>
    <h1>Courses</h1>
  <table>
  <thead>
      <tr>
          <th>Course Name</th>
          <th>Description</th>
          <th>Date Added</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
    {% for x in course %}
  	<tr>
  		<td>{{ x.course_name }}</td>
  		<td>{{ x.desc }}</td>
  		<td>{{ x.date_added }}</td>
		  <td><a href='/delete/{{x.id}}'>remove</a></td>
	 </tr>
  {% endfor %}
</tbody>
</table>
</body>
</html>