<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Survey Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>
    <form action='/result' method='post'>
        Your Name:
        <input type='text' name='name'> Dojo Location:
        <select name="location">
            <option value="sanjose">San Jose</option>
            <option value="seattle">Seattle</option>
            <option value="la">LA</option>
            <option value="dallas">Dallas</option>
            <option value="dc">DC</option>
            <option value="chicago">Chicago</option>
            <option value="tulsa">Tulsa</option>
        </select>
        Favorite Language:
        <select name="language">
            <option value="html">HTML</option>
            <option value="css">CSS</option>
            <option value="javascript">Javascript</option>
            <option value="python">Python</option>
        </select>
        Comment (optional):
        <textarea name="description"></textarea>
        <input type='submit' value='Submit'>
    </form>
</body>
</html>