<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Login/Registration</title>
	<meta name="description" content="CONTENT" >
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
	<h1>Welcome!</h1>
	<h2>Register:</h2>
	<form class= "form-group" action='/register' method='post'>
		{% csrf_token %}
	    <p>Name: <input class="form-control" type='text' name='name'></p>
	    <p>Username: <input class="form-control" type='text' name='username'></p>
	    <p>Password: <input class="form-control" type='password' name='password'></p>
	    <p>*Password should be at least 8 characters</p>
	    <p>Confirm Password: <input class="form-control" type='password' name='cpassword'></p>
	    <p>Date Hired: <input class="form-control" type="date" name="datehired"></p>
	    <input class="btn btn-primary" type='submit' value='Register'>
	</form>
	<h2>Login:</h2>
	<form class= "form-group" action='/login' method='post'>
		{% csrf_token %}
	    <p>Username: <input class="form-control" type='text' name='username'></p>
	    <p>Password: <input class="form-control" type='password' name='password'></p>
	    <input class="btn btn-primary" type='submit' value='Login'>
	</form>

{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
</body>
</html>