<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Success</title>
	<meta name="description" content="CONTENT" >
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<h1>Success! Welcome, {{name.first_name}}!</h1>
	<h3>Successfully {{request.session.record}}</h3>
	<p>RE-DEPLOYMENT TEST</p>
</body>
</html>