<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Add Book and Review</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'belt/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>

<body>
<div class="sidebyside">
	<h1>Add a New Book Title and a Review</h1>
</div>
<div class="sidebyside floatright">
	<a href="/books">Home</a>
	<a href="/logout">Logout</a>
</div>
	<form class="form-group" action='/addnewbook' method='post'>
		{% csrf_token %}
	    <h3>Book Title: <input class="form-control" type='text' name='title'></h3>
	    <h3>Author:</h3> 
	    Choose from the list:
	    <select class="form-control" name="authorlist">
	      <option value="not"></option>
	    {% for x in book %}
	      <option value="{{ x.author }}">{{ x.author }}</option>
	    {% endfor %}
	    </select>
	    <p>Or add a new author: <input class="form-control" type='text' name='newauthor'></p>
	    <h3>Review: <textarea class="form-control" type='text' name='content'></textarea></h3>
	    <h3>Rating:</h3>
	    <select class="form-control" name="rating">
	      <option>1</option>
	      <option>2</option>
	      <option>3</option>
	      <option>4</option>
	      <option>5</option>
	    </select>
	    <p><input class="btn btn-primary" type='submit' value='Add Book and Review'></p>
	</form>
{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>