<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Books Home</title>
	<meta name="description" content="CONTENT" >
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<a href="/add">Add Book and Review</a>
	<a href="/logout">Logout</a>
	<h1>Welcome, {{name.name}}!</h1>
	<h2>Recent Book Reviews:</h2>
</body>
</html>