<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Books Home</title>
	<meta name="description" content="CONTENT" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	{% load static %}
    <link rel="stylesheet" href="{% static 'belt/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
</head>

<body>
<div>
<div class="sidebyside">
	<h1>Welcome, {{user.name}}!</h1>
</div>
<div class="sidebyside floatright">
	<a href="/add">Add Book and Review</a>
	<a href="/logout">Logout</a>
</div>
</div>
<div class="sidebyside">
	<h2>Recent Book Reviews:</h2>
	{% for z in first3 %}
	<h4><a href="/showbook/{{ z.review.id }}">{{ z.review.title }}</a></h4>
	<p>Rating: {{ z.rating }}</p>
	<p> <a href="users/{{ z.reviewer_id }}">{{ z.reviewer.name }}</a> says: {{ z.content }}</p>
	<p> Posted on {{ z.created_at }}</p>
	<hr>
	{% endfor %}
</div>
<div class="sidebyside border">
	<h2>Other Books with Reviews:</h2>
	<div class="scroll">
	{% for x in book %}
	<p><a href="/showbook/{{ x.id }}">{{ x.title }}</a></p>
	{% endfor %}
	</div>
</div>

</body>
</html>