<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class='container'>
	<h1>Welcome!</h1>
	<h2>Registration:</h2>
	<form class="form-group" action='/register' method='post'>
		{% csrf_token %}
	    <p>Name: <input class="form-control" type='text' name='name'></p>
	    <p>Alias: <input class="form-control" type='text' name='alias'></p>
	    <p>Email: <input class="form-control" type='text' name='email'></p>
	    <p>Password: <input class="form-control" type='password' name='password'></p>
	    <p>*Password should be at least 8 characters</p>
	    <p>Confirm Password: <input class="form-control" type='password' name='cpassword'></p>
	    <input class="btn btn-primary" type='submit' value='Register'>
	</form>
	<h2>Login:</h2>
	<form class="form-group" action='/login' method='post'>
		{% csrf_token %}
	    <p>Email: <input class="form-control" type='text' name='email'></p>
	    <p>Password: <input class="form-control" type='password' name='password'></p>
	    <input class="btn btn-primary" type='submit' value='Login'>
	</form>

{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>
</body>
</html>