<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Friends</title>
	<meta name="description" content="CONTENT" >
  {% load static %}
  <link rel="stylesheet" href="{% static 'users/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
  <!-- <link rel="stylesheet" href="{% static 'app_name/javascript/main.js' %}" media="screen" title="no title"  charset="utf-8"> -->
</head>

<body>
<h1>Edit User</h1>
{% if messages %}
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <form action='/update/{{user.id}}', method='post'>
      {% csrf_token %}
      First Name: <p><input type='text' name='first_name'></p>
      Last Name: <p><input type='text' name='last_name'></p>
      Email: <p><input type='text' name='email'></p>
      <input type='submit' value='Update'>
    </form>
<a href='/{{user.id}}/show'>Show</a>
<a href='/goback'>Go Back</a>
</body>
</html>