<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Semi-Restful Users</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" type="text/css" href="style.css">
    <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <!-- <link rel="stylesheet" href="{% static 'app_name/javascript/main.js' %}" media="screen" title="no title"  charset="utf-8"> -->
</head>

<body>
	<h1>Users</h1>
  <table>
      <thead>
          <tr>
              <th>id</th>
              <th>Full Name</th>
              <th>Email</th>
              <th>Created At</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody>
        {% for x in user %}
        <tr>
              <td>{{ x.id }}</td>
              <td>{{ x.first_name }} {{ x.last_name }}</td>
              <td>{{ x.email }}</td>
              <td>{{ x.created_at }}</td>
              <td>
                <a href='{{x.id}}/show'>Show</a>
                <a href='{{x.id}}/edit'>Edit</a>
                <a href='{{x.id}}/destroy'>Delete</a>
              </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
    <form action='/new'>
        <input type='submit' value='Add a new user'>
    </form>
</body>
</html>