<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QuotingDojo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
    <h1>Here are the awesome quotes!<form action='/back'><button name="back">BACK</button></form></h1>
        <% for (var x in quotes) { %>
            <p>"<%= quotes[x].quote %>"</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;-<%= quotes[x].name %> at <%= quotes[x].createdAt.toDateString() %></p>
                <hr>
        <% } %>
</body>
</html>