<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>Friends</title>
	<meta name="description" content="CONTENT" >
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"> -->
    <!-- <script type="text/javascript"  src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    	
    <!-- <script src="main.js"></script> -->
</head>

<body>
<!-- we can use the line below to see all of our data in our template -->
{{ all_friends }}
<h1>Friends:</h1>
<!-- with all the data we can then construct a more structured output -->
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Age</th>
              <th>Friend Since</th>
              <th></th>
          </tr>
      </thead>
      <tbody>
        {% for friend in all_friends: %}
        <tr>
              <td>{{ friend['id'] }}</td>
              <td>{{ friend['name'] }}</td>
              <td>{{ friend['age'] }}</td>
              <td>{{ friend['dayt'] }}</td>
              <td>{{ friend['year'] }}
        </tr>
        {% endfor %}
      </tbody>
  </table>
   <hr>
  <h2>Add a Friend</h2>
  <form action='/friends' method='POST'>
    <label for="name">Name:<input type="text" name="name" id="name"></label>
    <label for="age">Age:<input type="text" name="age" id="age"></label>
    <input type="submit" value="Submit">
  </form>
	</form>
</body>
</html>